# Игнорировать node_modules для фронтенда
frontend/node_modules/

# Игнорировать кеши и логи Python, если будете использовать его
__pycache__/
*.pyc

# Игнорировать бинарные файлы Go, если будете использовать его
*/bin/
*/vendor/

# Игнорировать файлы окружения с паролями!
.env
.env.local

# Игнорировать служебные файлы IDE
.vscode/
.idea/