services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  auth-service:
    build: ./auth-service
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    environment:
      - DATABASE_URL=host=postgres user=postgres password=postgres dbname=auth_db sslmode=disable
      - JWT_SECRET=simple-secret-12345 
    volumes:
      - ./pkg:/go/pkg/mod/github.com/ErzhanBersagurov/MVP_multibank/pkg@v0.0.0

  accounts-service:    
    build: ./accounts-service
    ports:
      - "8081:8081"
    depends_on:
      - postgres
    environment:
      - DATABASE_URL=host=postgres user=postgres password=postgres dbname=auth_db sslmode=disable
      - JWT_SECRET=simple-secret-12345
 
  transfer-service:
    build: ./transfer-service
    ports:
      - "8082:8082"
    environment:
      - DATABASE_URL=host=postgres user=postgres password=postgres dbname=auth_db sslmode=disable
      - JWT_SECRET=simple-secret-12345
    depends_on:
      - auth-service
      - accounts-service

  frontend:
    build: ./frontend
    ports:
      - "5173:5173" 
    network_mode: "host"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=http://localhost:8080
    depends_on:
      - auth-service
      - accounts-service
      - transfer-service

volumes:
  postgres_data: